---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: "Desde 2022",
    title: "Desarrollador Freelance",
    company: "Autónomo",
    description:
      "Desarrollo de soluciones a medida para pymes y emprendedores. He creado sistemas de ventas, aplicaciones web personalizadas, sitios corporativos y apps móviles multiplataforma. Enfocado en rendimiento, usabilidad y escalabilidad.",
    link: "",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
